---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Architecture">

<h1>AWS Architecture</h1>

<p>
This website is hosted on AWS using:
</p>

<ul>
  <li>S3 static hosting</li>
  <li>CloudFront CDN</li>
  <li>Route53 DNS</li>
  <li>Lambda backend</li>
  <li>API Gateway</li>
</ul>

</MainLayout>