---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="CV">

<h1>Curriculum</h1>

<p>Software Engineer with experience in C++ and AWS.</p>

<button>
Download CV
</button>

</MainLayout>