---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">

<h1>Lucas Calbó</h1>

<p>
Software Engineer  
AWS Solutions Architect Student  
Backend / C++ / Cloud
</p>

</MainLayout>